{{>header}}
{{>navbar}}

<section class="container my-3">
    <form method="get">
        <div class="row">
        <div class="mb-3 col-6">
            <label class="label-control mb-2">Enter Balance</label>
            <input placeholder="balance" class="form-control" name="balance" type="number">
        </div>
        <div class="mb-3 col-12">
            <button class="btn btn-primary">add Balance</button>
        </div>

        </div>
    </form>
</section>