{{>header}}
{{>navbar}}

<section class="container my-3">
    <form method="get">
        <div class="row">
        <div class="mb-3 col-6">
            <input type="number" class="form-control" name="Balance">
            <button class="btn btn-primary">update Balance</button>
        </div>

        </div>
    </form>
</section>
{{>footer}}