{{>header}}
{{>navbar}}

<section class="container my-3">
    <form method="post">
        <div class="row">
        <div class="mb-3 col-6">
            <label class="label-control mb-2">withdraw Balance</label>
            <input type="number" class="form-control" placeholder="amount" name="Balance">
            <button class="btn btn-primary">withdraw </button>
        </div>

        </div>
    </form>
</section>
{{>footer}}