<section class="container my-4">
    <div class="row d-flex justify-content-center my-4">
        <form class="border border-3 border-primary p-5 col-6" [formGroup]="addproductForm"  (ngSubmit)="addproduct()">
            <div class="product-item mb-3">
                <div class="product-item-pic">
                    <div class="product-label" formControlName="name">
                        <span >Cupcake</span>
                    </div>
                </div>
                <!-- <div class="product-item-name">
                      <h6>
                          <a href="#">Dozen Cupcake</a>
                      </h6>
                <div class="product-item-price">40.00$</div>
            </div>-->
        </div> 
        <div class="mb-3">
            <button class="btn btn-danger">addOrder</button>
        </div>
        
        </form>
    </div>
</section>
