<section class="container my-4">
        <form class="border border-3 border-primary p-5 col-6" 
        [formGroup]="addproductForm"  (ngSubmit)="addproduct()">
         <div class="mb-3">
           <input formControlName="name" class="form-control" placeholder="productname">
           <div *ngIf="name?.invalid" class="alert alert-danger">
               <p *ngIf="name?.errors?.required">productname is required</p>
           </div>
           </div> 
           <div class="mb-3">
            <input formControlName="category" class="form-control" placeholder="productcategory">
            <div *ngIf="category?.invalid" class="alert alert-danger">
                <p *ngIf="category?.errors?.required">productcategory is required</p>
            </div>
            </div> 
            <div class="mb-3">
                <input formControlName="price" class="form-control" placeholder="productprice">
                <div *ngIf="price?.invalid" class="alert alert-danger">
                    <p *ngIf="price?.errors?.required">productprice is required</p>
                </div>
                </div>     
        <div class="mb-3">
            <button class="btn btn-danger">addproduct</button>
        </div>
        
        </form>
</section>
